<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="login-body">
    <main>
        <form id="login-form">
            <div class="login-container">
                <h2 class="login-title">Login</h2>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                <button class="login-buttom" type="submit">Submit</button>
            </div>
        </form>
    </main>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>